* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  border: none;
  text-decoration: none;
  outline: none;
}
html,
body {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, rgb(42, 135, 161), rgb(101, 115, 201));
  margin: 1px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 40px;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(0, 0, 0);
  border-bottom: 0.5px solid #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.navbar .navbar-logo span {
  color: rgb(200, 167, 146);
}

.navbar .navbar-nav a {
  margin: 0 1rem;
  font-size: 1rem;
  display: inline-block;
  color: #fff;
}
.navbar .navbar-nav a:hover {
  color: rgb(200, 154, 126);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  transform: scaleX(0);
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
  transition: transform 0.3s linear;
}
.navbar .navbar-extra a {
  margin: 0 1rem;
  color: #fff;
}
.navbar .navbar-extra a:hover {
  color: rgb(200, 154, 126);
}
#hamburger-menu {
  display: none;
}
/* media queries */
/* laptop */
@media (max-width: 1024px) {
  html,
  body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    place-items: center;
  }
  .navbar {
    padding: 1.4rem 5%;
    background-color: rgb(0, 0, 0);
    border-bottom: 0.5px solid #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}
/* tablet */
@media (max-width: 768px) {
  html,
  body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar {
    padding: 1.4rem 5%;
    background-color: rgb(0, 0, 0);
    border-bottom: 0.5px solid #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffffff;
    width: 30rem;
    height: 100vh;
  }
}

/* mobile */
@media (max-width: 480px) {
  html,
  body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar {
    padding: 1.4rem 5%;
    background-color: rgb(0, 0, 0);
    border-bottom: 0.5px solid #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}
/* end of media queries 
 note: belum selesai*/

.header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  background: linear-gradient(to right, rgb(216, 231, 219), rgb(101, 115, 201));
  box-shadow: 0 15px 20px rgb(125, 160, 202);
  width: 140%;
  height: 100px;
  border-radius: 15px 15px 0 0;
  margin-top: -25px;
}

::selection {
  background: rgb(87, 34, 133);
  color: #ffff;
}
.container {
  width: 380px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 15);
  padding: 0px 0px 0px 0px;
  margin-top: 140px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.container .tittle {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(to right, rgb(39, 81, 113), rgb(101, 115, 201));
  box-shadow: 0 15px 20px rgb(219, 208, 235);
}
.container form {
  padding: 10px 30px 50px 30px;
}
.container .form .input {
  margin: 20px 0;
}
.container form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.container form .field input {
  height: 100%;
  width: 100%;
  font-size: 17px;
  padding-left: 20px;
  border-radius: 25px;
  border: 1px solid lightgray;
  outline: none;
  transition: all 0.3s ease;
}
.container form .field input:focus,
form .field input:valid {
  background-color: rgb(85, 120, 209);
}

container form .field label {
  position: absolute;
}
form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  justify-content: space-between;
  margin-top: 12px;
}
form .content .checkbox {
  display: absolute;
  align-items: center;
  justify-content: center;
}
form .content input {
  width: 15px;
  height: 15px;
  background-color: rgb(105, 139, 133);
}
form .content label {
  color: #00000;
  user-select: none;
  padding-left: 5px;
}
form .content .forget {
  color: "";
}
form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0px;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  background: linear-gradient(to right, rgb(29, 46, 59), rgb(101, 115, 201));
}
form .field input[type="submit"]:hover {
  background: linear-gradient(to right, rgb(101, 115, 201), rgb(29, 46, 59));
}
form .field input[type="submit"]:active {
  background: linear-gradient(to right, rgb(29, 46, 59), rgb(101, 115, 201));
}
form .field input[type="submit"]:focus {
  background: linear-gradient(to right, rgb(101, 115, 201), rgb(29, 46, 59));
}
form .signup {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: #000;
  font-weight: 500;
}
form .signup a {
  color: rgb(109, 180, 187);
  text-decoration: none;
  font-weight: 500;
}

form .forget a,
form .signup a {
  text-decoration: none;
  color: rgb(16, 44, 226);
}
form .forget a:hover,
form .signup a:hover {
  text-decoration: underline;
  color: rgb(16, 44, 226);
}
form .forget a:active,
form .signup a:active {
  text-decoration: underline;
  color: rgb(54, 133, 23);
}

.footer {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 2px;
  display: flex;
  text-decoration: none;
  margin-top: 200px;
}
